HELP.md
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
gradle/
gradlew
gradlew.bat
gradle.properties
settings.gradle

### Logs ###
*.log

### macOS ###
.DS_Store
